.button {
  display: block;
  width: 285px;
  height: 60px;

  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  &--major {
    background-color: #e1aa6e;
    box-shadow: 0 10px #ba8e5b;
  }

  &--careers {
    background-color: $styleColor;
    box-shadow: 0 10px #008ea5;
  }

}
