.footer {
  border-top: 3px solid #ccc;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nav {
    margin: 40px 0 35px;
  }

  &__socials {
    margin-bottom: 40px;
  }

  &__icon {
    width: 17px;
    height: 19px;
    margin: 0 30px;
  }

  &__copyrights {
    margin: 35px 0 54px;
    font-size: 12px;
    color: $commonFooterColor;

  }
}
